extends layout

block content 

    div(class="section")
        div(class="container")
            h1 #{authorized.username}'s saved recipes 
    div(id="foodPresent")
        if user_obj.recipes
                each recipe in user_obj.recipes 
                    div(class="food_input-group flexi-food")
                        h3=recipe.title  
                        img(src=recipe.img alt="recipe")
                        a(target="_blank" class="link_food" href=recipe.url)
                            button(class="button_light") Original link
                        form(action="/users/delete", method="post") 
                            input(type="url", name="url" class="food-hidden" value=recipe.url)
                            input(type="text", name="title" class="food-hidden" value=recipe.title)
                            input(type="text", name="img" class="food-hidden" value=recipe.img)
                            button(class="form_button") Delete recipe
                        